In [ ]:
#quote= -1.116-251.5539"121"+194.7876"122"+98.2323"128"+105.5981"200"+19.6917"202"

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
%matplotlib inline

In [3]:
predict= pd.read_excel(r'/Users/jessiecai/Desktop/筆試題目/predictor.xlsx')
predict.head()

     id     121     122     128     200     202
0  1101  0.0020  0.0032 -0.0042  0.0219  0.0902
1  1201  0.0000  0.0000 -0.0097 -0.0404 -0.0635
2  1215  0.0006  0.0005 -0.0023  0.0339  0.0719
3  1440  0.0000  0.0001  0.0010 -0.0006  0.1420
4  1466  0.0000  0.0000 -0.0031  0.0623  0.5420

In [4]:
predict['pre_quote']=-1.116-251.5539*predict[121]+194.7876*predict[122]+98.2323*predict[128]+105.5981*predict[200]+19.6917*predict[202]
predict.head()

     id     121     122     128     200     202  pre_quote
0  1101  0.0020  0.0032 -0.0042  0.0219  0.0902   2.680427
1  1201  0.0000  0.0000 -0.0097 -0.0404 -0.0635  -7.585440
2  1215  0.0006  0.0005 -0.0023  0.0339  0.0719   3.600136
3  1440  0.0000  0.0001  0.0010 -0.0006  0.1420   1.734574
4  1466  0.0000  0.0000 -0.0031  0.0623  0.5420  15.831143

In [12]:
base=28/12
def win_stock(base):
    wins=[ ]
    for i in range(len(predict['id'])):
        if predict['pre_quote'][i]>base:
            win=predict['id'][i]
        else:
            None
        wins.append(win)
    return wins

In [16]:
#年報酬率超過28％的標的
return_year=pd.unique(win_stock(base))
return_year

array([1101, 1215, 1466, 1476, 1477, 1515, 1589, 1598, 1605, 1717, 1734,
       1781, 1904, 2013, 2015, 2031, 2105, 2201, 2227, 2308, 2313, 2314,
       2347, 2348, 2353, 2357, 2363, 2368, 2377, 2379, 2385, 2387, 2390,
       2402, 2406, 2417, 2421, 2438, 2439, 2448, 2456, 2601, 2603, 2723,
       2855, 2885, 3014, 3034, 3037, 3042, 3046, 3064, 3078, 3163, 3189,
       3228, 3231, 3259, 3268, 3324, 3339, 3465, 3483, 3512, 3520, 3529,
       3552, 3673, 3708, 4502, 4906, 4958, 4968, 5306, 5310, 5434, 5450,
       5457, 5474, 5880, 6020, 6118, 6148, 6165, 6171, 6176, 6187, 6225,
       6233, 6244, 6251, 6414, 6441, 6443, 8027, 8046, 8092, 8436, 8444,
       8464, 8499, 9802, 9919, 9935, 9938, 9951, 9958])